<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>clics</title>
    <link rel="stylesheet" type="text/css" href="layouts/default.css">
</head>
<body>
    <pre>'Ello, {{ username }}!</pre>
    <pre>clics: command-line interface chat shell &lt;0.0.1&gt;</pre>
    {% if run_main == False %}
        <pre>Route your name to generate your character and talk!</pre>
    {% endif %}
    <pre id="cmd"><span id="dollar">$ </span>clics:{{ username }}/<span id="stdio"></span></pre>

    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="layouts/clics.js"></script>
</body>
</html>