/* Global styles */

body {
    background-color: black;
    color: white;
}

pre {
    font-family: 'Lucida Console', Courier, monospace;
    width: 100%;
    margin: 0.2em 0px;
}

/* Widgets styles */

#cmd {
    position: fixed;
    bottom: 0px;
}

#dollar {
    color: red;
    font-weight: bold;
}

#stdio {
    width: auto;
}