<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>clics</title>
    <link rel="shortcut icon" type="image/x-icon" href="/layouts/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/layouts/default.css">
</head>
<body>
    <pre>'Ello, {{ username }}!</pre>
    <pre>clics: command-line interface chat shell &lt;{{ version }}&gt;</pre>
    {% if run_main == False %}
        <pre>Route your name to generate your character and talk!</pre>
    {% else %}
        <pre id="sync">Syncing the server...</pre>
        <div id="cmd"><span id="username">{{ username }}</span>@clics:~<span id="dollar">$ </span><span id="stdout"></span></div>
        <script type="text/javascript" src="/layouts/clics.js"></script>
    {% endif %}
</body>
</html>