/* Global styles */

body {
    background-color: black;
    color: white;
}

pre {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    margin: 0.2em 0px;
}

/* Widgets styles */

#cmd {
    position: fixed;
    bottom: 0px;
}
    
    #username {
        border-radius: 2px;
        padding: 1px 2.5px;
    }

    #dollar {
        color: red;
        font-weight: bold;
    }

    #stdout {
        width: auto;
    }